@font-face {
    font-family: 'Quando';
    src: url('./assets/fonts/Quando-Regular copy.ttf') format('truetype');
}

body {
    background-color: #f8f7f6;
    font-family: 'Quando', serif;
    margin: 0;
    padding: 0;
}

.launch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.navbar {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.btn-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;

}

.title-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    color: #99836F;
    font-size: 4.5rem;
    margin: 0;
}

p {
    color: #746455;
}

.launch-logo {
    width: 360px;
    max-width: 70vw;
    height: auto;
}

/* .title-logo {
    text-align: left;
    margin-left: 20px;
}

.launch-logo {
    text-align: left;
    margin-left: 10px;
} */
