@font-face {
    font-family: 'Quando';
    src: url('./assets/fonts/Quando-Regular copy.ttf') format('truetype');
}

body {
    background-color: #f8f7f6;
    font-family: 'Quando', serif;
    margin: 0;
    padding: 0;
}

.launch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 16px;
}

h1 {
    color: #99836F;
}

p {
    color: #746455;
}
